* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  clear: right;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.box > div {
  border: 1px solid black;
  width: 33.3%;
  height: 25px;
  overflow: auto;
  text-align: center;
  margin-bottom: 10px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#title1 {
    background-color: #d59898;
}

#title2 {
    background-color: #c14543;
    color: #fefefd;
}

#title3 {
    background-color: #e5d198;
}

.row {
    width: 100%;
}

.box {
    border: 1px solid black;
    width: 95%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
    background-color: #999999;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
    #box3 {
        width: 97.5%;
    }
